@import "shared.css";

.about {
    margin-bottom: 0;
}


@media(min-width:1200px) {

    .about {
        background-color: #f2e3d5;
        position: relative;
        padding-top: 10%;
    }

    .about .invite {
        width: 30%;
    }

    .about .carousel {
        width: 40%;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        margin-top: 0;
        margin-bottom: 0;
    }

    .about .carousel-inner {
        margin-bottom: 0;
    }

    .talent {
        display: flex;
        margin-top: 10%;
        background-color: #f2e3d5;
        border-radius: 20px;
    }

    .talent .sand {
        width: 40%;
        margin: 0;
    }

    .talent .frameContainer {
        width: 50%;
        margin: 0 0 0 5%;
        align-self: center;

    }

}